@import url("palette.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html
{
  overflow-x: hidden;
}
html body{
  /* background:#afcbff; */
  background-color: var(--purpureus);
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}


/*Header*/

.banner{
  font-family: 'Montserrat', sans-serif;
  display: grid;
  /* width: 105%; */
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
  z-index: 1; 
}

header{
  background-color:rgb(84, 84, 197);
  color: #F9FBF2; 
  width: 120%;
  height: 100px;
  /* background-color: #0009b5; */
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}
.logo
{
  /* border: 2px solid green; */
  margin-left: 25px;
  width: 80px;
  
}
.title
{
  margin-left: -10px;
  font-size: 67px;
  font-family: 'Montserrat', sans-serif;
}

.banner{
  /* font-size: 80px; */
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  
}

/*navbar*/

.navbar-back{
  border-top: 3px solid mintcream;
  border-bottom: 3px solid mintcream;
  background: #8586ec;
  height: 55px;
}
.navbar-back .icon {
  display: none;
}
.nav-link{
  position: relative;
  height: 50px;
  float: left;
  display: block;
  line-height: 35px;
  background-color: #8586ec; 
  text-align: center;
  width: 25%;
  color: #F9FBF2;
  font-family: 'Montserrat', sans-serif;
  border-right: 1px solid #F9FBF2;
  /* float: left; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.navbar-back a.active {
  background-color: #7375cf;
  color: white;
}
.nav-link:hover{
  color: #484848;
}


/* Grid Container*/
.center-grid
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*background-color:#76fb72;*/
}
.grid-container{
  display: grid;
  /* background-color: pink; */
  /* width: 600px; */
  /* background-color: yellow; */
  grid-template-columns: 1.3fr 500px 1.3fr;
  justify-self: center;
  
}

/* Card */
.cardsLeft {
  padding: 100%;
  background-color: yellow;
  right: 600px;
}

.cardsLeft p{
  position: relative;
  right: 600px;
}
.card{
  width: 500px;
  height: 300px; 
  background-color:#F9FBF2;
}
.cardHead{
  background-color: #AFCBFF;
}

.cardContent{
  margin-left: 10px;
}

/* Next Card*/

.lArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 100%;
  
}
.lArrow p
{
  margin-right: 5px;
  width: 50px;
  background-color: #F9FBF2;
  height: 50px;
  position: relative;
  border-radius: 100%;
  line-height: 45px;
  font-size: 50px;
  text-align: center;
  transition: 0.3s;
  z-index: 1; 
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  
  
}

.lArrow p:hover{

  background-color: var(--purple-mountain-majesty);
}

.rArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  height: 100%;
  transition: 0.3s;
  z-index: 1;             
}
.rArrow p
{
  margin-left: 5px;
  width: 50px;
  background-color: #F9FBF2;
  height: 50px;
  position: relative;
  border-radius: 100%;
  line-height: 45px;
  font-size: 50px;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.rArrow p:hover{

  background-color: var(--purple-mountain-majesty);
}


/* Buttons */
.options{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}

.addRemove{
  display: flex;
  justify-content: center;
  position: relative;
  left: 175px;
  font-family: 'Montserrat', sans-serif;
}

button.add {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

button.remove {
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

button.easy{
  background-color: #A7E8BD;
  margin-right: 10px;
}
button.gotIt{
  background-color: #F9E67C;
  margin-right: 5px;
}
button.hard{
  background-color: #FFB7B2;
  margin-left: 5px;
}

button.easy:hover{
  background-color: #b0fd88;
}
button.gotIt:hover{
  background-color: #fff851;
}
button.hard:hover{
  background-color: #ffdae5;
}

.indent{
  text-indent: 50px; 
  margin-top:20px;
}

.indent p{
  color: #F9FBF2;
}

@media only screen and (max-width:1240px) 
{
  .center-grid
  {
    width: 600px;
    /* background-color: blueviolet; */
  }
  .grid-container
  {
    grid-template-columns: 50px 500px 50px;
    /* justify-self: center; */
  }    
}
@media only screen and (max-width:730px) 
{
  
  .logo
  {
    width: 45px;
  }
  .title
  {
    font-size: 30px;
  }
  header
  {
    height: 75px;
  }
 
  .navbar-back a:not(first-child) {display: none;}
  
  .navbar-back a.icon {
    float: right;
    display: block;
  }
  .navbar-back.responsive {position: relative;}
  .navbar-back.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    
    z-index: 1;
  }
  .navbar-back.responsive a {
    float: none;
    display: block;
    text-align: left;
    z-index: 1;
  }
  .nav-link
  {
    width: 100%;
    text-align: left;
  }



}

.preface {
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width:680px) 
{
  .center-grid
  {
    width: 100%;
  }
  .grid-container
  {
    grid-template-columns: 1fr 300px 1fr;
  }
  /* .lArrow p
  {
    width: 40px;
    height: 40px;
  }
  .rArrow p
  {
    width: 40px;
    height: 40px;
  } */
  .card{
  width: 300px;
  height: 250px; 
  background-color:#F9FBF2;
}
.addRemove{
  left:100px;
}

}